@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

 a {
  background-color: transparent;
}

.link  {
@apply text-blue-600 hover:text-blue-700 dark:text-blue-200 dark:hover:text-blue-300
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

.min-h-vh {
  min-height: 100vh;
}

.content p {
  @apply my-2;
}

.content ul {
  @apply my-6;
}

.react-tiny-popover-container {
  z-index: 9999;
}

.min-h-vh {
  min-height: 100vh;
}

.card {
  @apply bg-white dark:bg-gray-700 dark:text-white border-2 dark:border-gray-700 rounded-lg p-6 shadow-sm hover:shadow-md hover:bg-white transition-all duration-300 ease-in-out;
}

.input {
  @apply border-0 px-3 py-3 placeholder-neutral-400 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150
}

.btn {
  @apply py-2 px-4 font-semibold rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 duration-200;
}

.btn-white {
  @apply bg-white text-gray-600 hover:bg-gray-50 focus:ring-gray-400;
}

.btn-small {
  @apply text-sm py-1 px-3;
}
.btn-sm {
  @apply text-sm;
}
.btn-lg {
  @apply text-lg px-5 py-4;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.animate {
  position: absolute;
  /* top: 1px; */
  /* right: 1px; */
  /* bottom: 1px; */
  /* left: 1px; */
  background: inherit;
  border-radius: calc(var(--geist-radius) - 1px);
  background: linear-gradient(-90deg,#007cf0,#00dfd8,#ff0080,#007cf0);
  background-size: 400% 100%;
  /* border: none; */
  padding: 0;
  margin: 0;
  border-radius: 10px;
  -webkit-animation: glower 38s ease-in-out infinite;
  animation: glower 38s ease-in-out infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}


.tag {
  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-lg;
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
}

.tag-base {
  @apply text-base;
}

.tag-white {
  @apply text-gray-700 bg-white;
}
.tag-cloud {
  @apply text-gray-600 bg-gray-100;
}
.tag-smoke {
  @apply text-gray-700 bg-gray-200;
}
.tag-gray {
  @apply text-gray-100 bg-gray-700;
}
.tag-green {
  @apply text-green-100 bg-green-800;
}
.tag-green-light {
  @apply text-green-800 bg-green-200;
}
.tag-red {
  @apply text-red-100 bg-red-800;
}
.tag-blue {
  @apply text-blue-100 bg-blue-800;
}
.tag-indigo {
  @apply text-indigo-100 bg-indigo-800;
}
.tag-indigo {
  @apply text-purple-100 bg-purple-800;
}
.tag-ens-1 {
  @apply text-purple-100 bg-blue-600;
}
.tag-orange {
  @apply text-yellow-100 bg-yellow-800;
}